body{
    background-color: rgb(243, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.display{
    width: 580px;
    height: 130px;
    border: 10px solid black;
    background-color: rgb(189, 185, 185);
    text-align: right;
    
}

.text{
    position: relative;
    bottom:15px;
    font-size: 130px;
    font-family: 'JetBrains Mono', monospace;
}

.number{
    font-family: 'JetBrains Mono', monospace;
    background-color: #296561;
}

.special{
    font-family: 'JetBrains Mono', monospace;
    background-color: #1E90FF;
    position: relative;
    right:100px;
    top:40px;
}

.basic-operator{
    font-family: 'JetBrains Mono', monospace;
    background-color: #FFA836;
    position: relative;
    right: 100px;
    top:40px;
}

#multiply{
    position: relative;
    top:65px;
    right: 130px;
} 

#minus{
    position: relative;
    top:90px;
    right: 160px; 
}

#plus{
    position: relative;
    top:120px;
    right: 190px; 
}

#equals{
    position: relative;
    top:150px;
    right: 220px; 
}

.keys{
    transform: scale(4.0);
    border-radius: 10px;
    position: relative;
    bottom: 100px;
}


.container{
    width: 600px;
    height: 700px;
    background-color: rgb(56, 53, 53);
    padding:20px;
    border-radius: 10px;
    

}