body{
    background-color: rgb(243, 229, 229);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.display{
    width: 580px;
    height: 130px;
    border: 10px solid black;
    background-color: rgb(189, 185, 185);
    text-align: right;
    
}

.text{
    position: relative;
    bottom:15px;
    font-size: 130px;
    font-family: 'JetBrains Mono', monospace;
}

.number{
    font-family: 'JetBrains Mono', monospace;
    background-color: #296561;
}

.special{
    font-family: 'JetBrains Mono', monospace;
    background-color: #1E90FF;
    position: relative;
    right:125px;
    top:45px;
}

.basic-operator{
    font-family: 'JetBrains Mono', monospace;
    background-color: #FFA836;
    position: relative;
    right: 120px;
    top:40px;
}

#multiply{
    position: relative;
    top:71px;
    right: 150px;
} 

#minus{
    position: relative;
    top:100px;
    right: 180px; 
}

#plus{
    position: relative;
    top:126px;
    right: 210px; 
}

#equals{
    position: relative;
    top:134px;
    left: 347px;

}

#divide{
    position: relative;
    top:45px;
}

#seven{
    position: relative;
    top: 73px;
    left:55px;
    padding-right: 9px;
    padding-top: 2px;
}

#nine{
    position: relative;
    top: 72px;
    left:68px;
}

#eight{
    position: relative;
    top: 72px;
    left:68px;
}

#four{
    position: relative;
    top: 100px;
    left:143px;
}

#five{
    position: relative;
    top: 100px;
    left:159px;
}

#six{
    position: relative;
    top: 100px;
    left:159px;
}

#zero{
    position: relative;
    top: 158px;
    right: 40px;
    padding-right: 30px;
  
}

#one{
    position: relative;
    top: 130px;
    left:233px;
}

#two{
    position: relative;
    top: 130px;
    left:248px;
}

#three{
    position: relative;
    top: 130px;
    left:249px;
}

.keys{
    transform: scale(4.0);
    border-radius: 10px;
    position: relative;
    bottom: 100px;
}

#dot{
    position: relative;
    top: 158px;
    right: 19px;
    padding-left: 10px;
}

#posneg{
    font-size:9px;
    padding-top: 5px;
}


.container{
    width: 600px;
    height: 700px;
    background-color: rgb(56, 53, 53);
    padding:20px;
    border-radius: 10px;
    

}